// Font

@font-face {
    font-family: NanumSquare;
    src: url('./style/fonts/NanumSquare_acEB.ttf');
}

.row{
    display: flex;
    height: 817px;
}

.header{
    width: 1920px;
    height: 120px;
    background-color: #09111C;
    .header-end{
        position: absolute;
        right: 0;
    }
}

.logo{
    margin-left: 85px;
    margin-right: 85px;
}

.navbar-itembar{
    width: 85px;
    background-color: #09111C;
    .navbar-item{
        cursor: pointer;
        width: 85px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: NanumSquare;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        div{
            margin-top: 10px;
        }
    }
    .navbar-end{
        position: absolute;
        bottom: 0;
    }
}    

.navbar-menubar{
    width: 225px;
    background-color: #102540;
    .active{
        background-color: #005490;
    }
    .navbar-menu{
        cursor: pointer;
        padding: 23px;
        font-family: NanumSquare;
        font-size: 17px;
        color: #FFFFFF;
    }
}