// Font

@font-face {
    font-family: NanumSquare;
    src: url('./style/fonts/NanumSquare_acEB.ttf');
}

.row{
    display: flex;
    height: 817px; // not F11 817px / F11 960px / media query
}

.header{
    width: 1920px;
    height: 120px;
    background-color: #09111C;
}

.navbar-iconbar{
    width: 85px;
    background-color: #09111C;
}    

.navbar-menubar{
    width: 225px;
    background-color: #102540;
    .active{
        background-color: #005490;
    }
    .navbar-menu{
        cursor: pointer;
        padding: 23px;
        font-family: NanumSquare;
        font-size: 17px;
        color: #FFFFFF;
    }
}